.signup {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}
.signup form {
  max-width: 80%;
  margin: auto;
  padding: 40px;
  background: white;
}

.signup h1 {
  font-weight: 100;
  color: white;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(79, 98, 148);
}

.signup .form {
  background: #0e101c;
  max-width: 400px;
  margin: 0 auto;
}

.signup p {
  color: #bf1650;
}

.signup p::before {
  display: inline;
  content: "⚠ ";
}

.signup input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  border: 1px solid rgb(51, 47, 47);
  padding: 10px 15px;
  margin-bottom: 10px;
  font-size: 14px;
}
.signup .grid_container {
  background-color: #0eb3f7;
  border-radius: 8px;
  border-radius: 8px;
}
.signup .account {
  padding: 40px;
}

.signup label {
  line-height: 2;
  text-align: left;
  display: block;
  margin-bottom: 13px;
  margin-top: 20px;
  color: white;
  font-size: 20px;
  font-weight: 500;
}

.signup button[type="submit"],
.signup input[type="submit"] {
  background: #333;
  color: white;
  text-transform: uppercase;
  border: none;
  margin-top: 40px;
  padding: 20px;
  font-size: 16px;
  font-weight: 100;
}

.signup button[type="submit"]:hover,
.signup input[type="submit"]:hover {
  background: #9eda86;
}

.signup button[type="submit"]:active,
.signup input[type="button"]:active,
.signup input[type="submit"]:active {
  transition: 0.3s all;
  transform: translateY(3px);
  border: 1px solid transparent;
  opacity: 0.8;
}

.signup input:disabled {
  opacity: 0.4;
}

.signup input[type="button"]:hover {
  transition: 0.3s all;
}

.signup button[type="submit"],
.signup input[type="button"],
.signup input[type="submit"] {
  -webkit-appearance: none;
}

.signup .App {
  max-width: 600px;
  margin: 0 auto;
}

.signup button[type="button"] {
  display: block;
  appearance: none;
  background: #333;
  color: white;
  border: none;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 4px;
}

.signup hr {
  margin-top: 30px;
}

.signup button {
  display: block;
  appearance: none;
  margin-top: 40px;
  border: 1px solid #333;
  margin-bottom: 20px;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 4px;
}
